<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/about">About</a>
    </nav>
    <h2> what is to do list</h2>
    <p> A to-do list is a simple organizational tool that helps individuals keep track of tasks and activities they need to complete. It typically consists of a list of items, each representing a specific task or responsibility. Users can add, remove, and prioritize tasks on their to-do list, making it easier to manage their time and stay organized. To-do lists can be created on paper, in digital applications, or through various productivity tools, and they are commonly used for personal, professional, and academic purposes.</p>
    <ol>
        <li>Personal To-Do List: This type of to-do list is used for managing personal tasks and responsibilities. It can include items such as grocery shopping, household chores, appointments, and personal goals.</li>
        <li>Work To-Do List: A work to-do list is designed to help individuals manage their professional tasks and projects. It may include tasks related to meetings, deadlines, emails, and specific work assignments.</li>
        <li>Academic To-Do List: Students often use academic to-do lists to keep track of assignments, exams, study sessions, and other school-related tasks. This helps them stay organized and meet their academic goals.</li>
    </ol>
    
</body>
</html>