<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/about">About</a>
        </nav>
    <h2>Login page</h2>
    <form action="/log" method="POST">
      username: <input type="text" name="username"><br><br>
      password: <input type="password" name="password"><br><br>  
        <input type="submit" value="Login">
    </form>
</body>
</html>